.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px black;
  border-radius: 8px;
}

section {
  margin-bottom: 20px;
  padding: 15px 10px; 
  background-color: white;
  border-radius: 6px;
  border: 1px solid wheat;
}

section ul { 
  padding-left: 20px;
}

section li { 
  margin-bottom: 8px;
}